{% extends "baza.html" %}

{% block content %}
    <h2>Polityka prywatności</h2>
    <hr>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar urna a sem venenatis elementum. Aliquam aliquet eleifend dolor.
        Pellentesque et est blandit, hendrerit diam sed, feugiat risus. Sed aliquam diam sed laoreet suscipit. Vestibulum viverra dolor ante,
        non pellentesque justo accumsan quis. Nulla nulla eros, pharetra euismod viverra eu, accumsan quis est. Vestibulum pretium aliquet sapien,
        eget placerat libero convallis et. Fusce vehicula rhoncus quam nec consequat. Vivamus ac fringilla justo. Donec sodales,
        quam a blandit placerat, elit nulla lobortis nibh, vel ornare justo nunc et tellus. Phasellus eu velit dolor.
    </p>
    <hr>
{% endblock %}